$finalHeight: 100vh;
$finalWidth: 100vw;
$scrollBarHeight: 1px;

::-webkit-scrollbar {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: $scrollBarHeight;
  height: $scrollBarHeight;
}

body {
  background: #111;
}

div {
  box-sizing: border-box;
}

.title{
  background: image-url("title.png");
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size:cover;
}

.feast{
  background: image-url("feast.png");
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size:cover;
}

.forge{
  background: image-url("forge.png");
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size:cover;
}

.tea{
  background: image-url("tea.png");
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size:cover;
}

.bellows{
  background: image-url("bellows.png");
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size:cover;
}


.bedroom{
  background: image-url("bedroom.png");
  height:100%;
  background-repeat:no-repeat;
  background-size:cover;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: calc(#{$finalHeight} + #{$scrollBarHeight});
  max-height: $finalWidth;
  margin: 0;
  padding-top: $scrollBarHeight;
  background: #abc;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-$finalHeight);
  transform-origin: right top;
  & > div {
    display: block;
    padding: 5px;
    transform: rotate(90deg);
    transform-origin: right top;
  }
}

.squares {
  padding: $finalHeight 0 0 0;
  & > div {
    width: $finalHeight;
    height: $finalHeight;
    margin: 10px 0;
  }
}
